@model FilmBayMVC.ViewModels.ModelsKeeper

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="../css/star-rating.css" media="all" rel="stylesheet" type="text/css" />
    <script src="../js/star-rating.js" type="text/javascript"></script>

    <div class="row">
       <input id="input-20" value="@Model.filmPageModel.rating" type="number" class="rating-loading" data-size="sm" readonly>   
   
           
    </div>



<script>
    $("#input-20").rating({
        clearButton: '',
        clearElement: "",
        captionElement: "#kv-caption"
    });





</script>
