@model FilmBayMVC.ViewModels.ModelsKeeper
@{
    ViewBag.Title = "FilmPage";
}

<h2>FilmPage</h2>
<div class="container">
<div class="row">
    <div class="col-sm-2">
        <img src="@Model.filmPageModel.poster" class="img-responsive" style="height:230px" />
    </div>
    <div class="row">
        <div class="col-sm-6">
            @Html.ActionLink(@Model.filmPageModel.Title, "FilmPage")   (@Model.filmPageModel.ReleaseDate.ToString().Substring(0, 4))

            <div class="row">@Model.filmPageModel.duration</div>
            <div class="row">
                @Model.filmPageModel.storyline
            </div>

            <div class="row">
                <div class="col-sm-3">Directed By:</div><div class="col-sm-3">@Model.filmPageModel.Director</div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    Writers:
                    @if (Model.filmPageModel.Writers != null)
                    {
                        for (int i = 0; i < Model.filmPageModel.Writers.Count; i++)
                        {
                            Model.filmPageModel.Writers[i].ToString();
                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">Released: </div><div class="col-sm-3">@Model.filmPageModel.ReleaseDate</div>
            </div>
            <div class="row">
                @*<div class="col-sm-3">Studio: </div><div class="col-sm-3">@Model</div>*@
            </div>

        </div>
        <div class="col-sm-5">
            <ul class="pagination">
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
            </ul>
        </div>
    </div>
    </div>

   
       
    </div>

