@model FilmBayMVC.ViewModels.ModelsKeeper
@{
    ViewBag.Title = "FilmPage";
}

<h2>FilmPage</h2>

<div class="row">
    <div class="col-sm-4">
        <img src="@Model.filmPageModel.poster" class="img-responsive" style="height:160px" />
    </div>
    <div class="col-sm-5">
        @Html.ActionLink(@Model.filmPageModel.Title, "FilmPage")   (@Model.filmPageModel.ReleaseDate.ToString().Substring(0, 4)
        <br />
        @Model.filmPageModel.duration<br />
        @Model.filmPageModel.storyline<br />
        @Model.filmPageModel.Director<br />
        @for (int i = 0; i < Model.filmPageModel.Writers.Count; i++)
        {
            Model.filmPageModel.Writers[i].ToString();
        }
        @Model.filmPageModel.ReleaseDate (WorldWide)
    </div>
    <div class="col-sm-5">

    </div>
</div>
