@model FilmBayMVC.ViewModels.ModelsKeeper
@{
    ViewBag.Title = "FilmPage";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>


<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        margin: auto;
        top:200px;
        max-height: 600px !important;
    }
.tales {
  width: 100%;
}


</style>

<h2>FilmPage</h2>

<div class="container">
    @{
        String filmid = Model.filmPageModel.id.ToString();
        <label id="idfilm">@filmid</label>
     }
    </div>
<div class="row">
    <div class="col-sm-2">
        <img src="@Model.filmPageModel.poster" class="img-responsive" style="height:230px" />
    </div>
    <div class="row">
        <div class="col-sm-6">
                @Html.ActionLink(@Model.filmPageModel.Title, "FilmPage")   (@Model.filmPageModel.ReleaseDate.ToString().Substring(0, 4))
       
            <div class="row">
                
                    @if (Model.filmPageModel.Genres != null)
                    {
                        for (int i = 0; i < Model.filmPageModel.Genres.Count; i++)
                        {<div class="col-sm-3">
                            @Model.filmPageModel.Genres[i]
                        </div>
                        }
                    }
              
            </div>
            <div class="row" id=""><br /></div>
            <div class="row">
                <div class="col-sm-2">
                    @Model.filmPageModel.duration
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Model.filmPageModel.storyline
                </div>
            </div>
            <div class="row"><br /></div>
            <div class="row">
                <div class="col-sm-3"><label>Directed By:</label></div><div class="col-sm-3">@Model.filmPageModel.Director</div>
            </div>
            <div class="row">
                
            @if (Model.filmPageModel.Writers != null)
            {
                <div class="col-sm-3">
                    <label> Writers:</label>
                </div>
                for (int i = 0; i < Model.filmPageModel.Writers.Count; i++)
                {
                        <div class="col-sm-3">
                            @Model.filmPageModel.Writers[i] <label> </label>
                        </div>
                      }
                  }
                
            </div>
            <div class="row">
                
                @if (Model.filmPageModel.Composers != null)
                {
                    <div class="col-sm-3">
                        <label>Composers:</label>
                    </div>
                    for (int i = 0; i < Model.filmPageModel.Composers.Count; i++)
                    {   <div class="col-sm-3">
                        @Model.filmPageModel.Composers[i].music_creator_name <label> </label>
                        @Model.filmPageModel.Composers[i].music_creator_surname 
                          </div>
                    }
                }
                
            </div>
           
            <div class="row">
                <div class="col-sm-3"><label>Released:</label> </div><div class="col-sm-3">@Model.filmPageModel.ReleaseDate</div>
            </div>
            <div class="row">
                @*<div class="col-sm-3">Studio: </div><div class="col-sm-3">@Model</div>*@
            </div>

        </div>
        <div class="col-sm-5">
            <ul class="pagination">
                <li id="1" onclick="voteClick(this.id)"><a href="#"><span class="glyphicon glyphicon-star" id="1" ></span></a></li>
                <li id="2" onclick="voteClick(this.id)"><a href="#"><span class="glyphicon glyphicon-star" id="2" ></span></a></li>
                <li id="3" onclick="voteClick(this.id)"><a href="#"><span class="glyphicon glyphicon-star" id="3" ></span></a></li>
                <li id="4" onclick="voteClick(this.id)"><a href="#"><span class="glyphicon glyphicon-star" id="4" ></span></a></li>
                <li id="5" onclick="voteClick(this.id)"><a href="#"><span class="glyphicon glyphicon-star" id="5" ></span></a></li>
            </ul>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="row">
            <br /><br />
        </div>

   <div class="row">
        <div class="col-sm-4">
            <div class="row" style="height:300px;overflow-y:scroll;overflow-x:hidden">
                @if (Model.filmPageModel.actors != null)
                {
                    for (int i = 0; i < Model.filmPageModel.actors.Count(); i++)
                    {
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="@Model.filmPageModel.actors[i].actor_photo_url" class="img-responsive" style="height:50px" />
                            </div>
                            <div class="col-sm-2">
                                @Model.filmPageModel.actors[i].actor_name
                                @Model.filmPageModel.actors[i].actor_surname
                            </div>
                        </div>
                        <div class="row"><br /></div>
                    }
                }
          
        </div>
    </div>
       <div class="col-sm-2"></div>

       <div class="col-sm-6" style="overflow:auto">
           <div class="row" style="height:300px;overflow-y:scroll;overflow-x:hidden">
               @if (Model.filmPageModel.Photos != null)
               {
                   for (int i = 0; i < Model.filmPageModel.Photos.Count; i++)
                   {
                           <div class="col-sm-3" style="max-height:200px;max-width:200px">
                               <img src="@Model.filmPageModel.Photos[i].photo_url" class="img-responsive" data-toggle="modal" data-target="#ShowCarousel" onclick="goTo(@i)"/>
                               <br />
                           </div>
                    
                   }
               }
           </div>
       </div>



</div>


    <div class="row">
        <br /><br />
    </div>
       


    <div class="row"><br /><br /></div>

<div class="row">
        @if (Model.filmPageModel.Comments != null)
        {

            for (int i = 0; i < Model.filmPageModel.Comments.Count; i++)
            {
                <div class="col-sm-3">
                    @Model.filmPageModel.Comments[i] <label> </label>
                </div>
            }
        }

</div>



    <div class="row">
        <div class="row">
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#AddComment">
                    Add Comment
                </button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" onclick="buyClick()">
                  Buy Movie
                </button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ShowCarousel">
                    Show Gallery
                </button>
            </div>
        </div>

        <div class="row">
            <div class="modal fade" id="AddComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">Comment</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                          <div class="form-group">
                           <textarea class="form-control" id="comment" style="width:auto">xxxxx</textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="commentClick(comment.value)">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<div class="row">
    <div class="modal fade" id="ShowCarousel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                 
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            @*
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0"></li>
                            @for (int i = 1; i < Model.filmPageModel.Photos.Count; i++)
                            {
                                string x = i.ToString();
                                <li data-target="#myCarousel" data-slide-to="@x" ></li>
                            }
                        </ol>*@

                            <div class="carousel-inner">
                                <div class="item active" style="max-height:600px">
                                    <img src="@Model.filmPageModel.Photos[0].photo_url" alt="Photo" class="tales">
                                </div>
                                @for (int i = 1; i < Model.filmPageModel.Photos.Count; i++)
                                {
                                    <div class="item " style="max-height:600px">
                                        <img src="@Model.filmPageModel.Photos[i].photo_url" alt="Photo" class="tales">
                                    </div>

                                }
                            </div>
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
            </div>
        </div>
    </div>
</div>
    </div>





  
<script>
    $('#AddComment').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
    $('#ShowCarousel').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
    function goTo(value)
    {
       // alert('click');
        $('#myCarousel').carousel(value);
        alert(value);
    }

    function voteClick(value) {
        var number = value;
        alert(number + " number");
          var filmId = document.getElementById("idfilm").textContent;
        alert(filmId+" film id");
        $.ajax({

            url: '@Url.Action("Vote", "FilmPage")' + '?number=' + number + '&filmid=' +filmId,
            data: {}, //parameters go here in object literal form
            type: 'GET',
            //datatype: 'json',
            success: function (data) { loadingDiv.style.visibility = "hidden"; alert('voted'); },
            error: function () { loadingDiv.style.visibility = "hidden"; alert('not voted'); }
        });
    }
    function buyClick() {

        var filmId = document.getElementById("idfilm").textContent;
        alert(filmId + " bought");
        $.ajax({

            url: '@Url.Action("Buy", "FilmPage")' + '?filmid=' + filmId,
            data: {}, //parameters go here in object literal form
            type: 'GET',
            //datatype: 'json',
            success: function (data) { loadingDiv.style.visibility = "hidden"; alert('voted'); },
            error: function () { loadingDiv.style.visibility = "hidden"; alert('not voted'); }
        });
    }


    function commentClick(comment) {
        var comment = comment;
        var filmId = document.getElementById("idfilm").textContent;
        alert(filmId);
        alert(comment)
        $.ajax({
   
            url: '@Url.Action("Comment", "FilmPage")' + '?comment=' + comment + '&filmid=' + filmId,
            data: {}, //parameters go here in object literal form
            type: 'GET',
            //datatype: 'json',
            success: function (data) { loadingDiv.style.visibility = "hidden"; alert('voted'); },
            error: function () { loadingDiv.style.visibility = "hidden"; alert('not voted'); }
        });
    }
</script>
