@model FilmBayMVC.ViewModels.ModelsKeeper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="row ">
            <div class="navbar-collapse collapse col-xs-1" style="width:75px">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("FilmBay", "Index", "Home")</li>
                </ul>
            </div>
            <div class="col-xs-3" style="width:230px"><input type="text" class="form-control" id="searchQuery" /></div>
            <div class="col-xs-1"><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="searchFilmInDB(searchQuery.value)">Search</button></div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>

            <div class="navbar-collapse collapse col-xs-6 ">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Main Page", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("My movies", "UserInfo", "UserPage")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="background-color:#428bca;" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="partialViewDivMainLayout" id="partialViewDivMainLayout">
                        @Html.Partial("_userMovieSearchPartial", Model)
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    function searchFilmInDB(value) {
        var filmName = value.replace(/\s/g, "+")
        $('#partialViewDivMainLayout').load('@Url.Action("SearchFilmResult", "Home")' + '?filmName=' + filmName);
    }
    function onFilmDiv_Click(value) {
        window.location.href = '@Url.Action("FilmPage", "FilmPage")' + '?id=' + value;
    }

</script>