@model FilmBayMVC.ViewModels.ModelsKeeper


<div class=row">
    <br />
</div>
<div class="row">
     @if (Model != null) 
     
     { 
         for (int i = 0; i < Model.movieSearchReturnObjectViewModels.Count(); i++) 
     {
    <div class="row">
        <br />
    </div>
    <div class="row">

        <div class="col-sm-2">
            @{
    String tmpPosterPath = "posterPath" + i;
    <img id=@tmpPosterPath src="@Model.movieSearchReturnObjectViewModels[i].posterPath" style="height:200px" />
            }
        </div>

        <div class="col-sm-4">
            @{
    String tmpId = "id" + i;
    <label id=@tmpId style="visibility:hidden">@Model.movieSearchReturnObjectViewModels[i].id</label>
            }

            @{
    String idReleaseDate = "releaseDate" + i;

    <label id="@idReleaseDate">@Model.movieSearchReturnObjectViewModels[i].releaseDate</label>
                <br />
            }

            @{
         String tmpOrginalTitle = "orginalTitle" + i;
        <label hidden id=@tmpOrginalTitle>@Model.movieSearchReturnObjectViewModels[i].orginalTitle</label>
         string idTitle = "title" + i;
    <label id=@idTitle>@Model.movieSearchReturnObjectViewModels[i].title</label>
            }

            @{
    string idPopularity = "popularity" + i;
    <label id=@idPopularity style="visibility:hidden">@Model.movieSearchReturnObjectViewModels[i].popularity</label>
            }
            @{
    string idButton = "button" + i;
            }
            <button id=@idButton onclick="partialViewButtonClick(this.id)" class="btn btn-default">Add to database</button>

        </div>
    </div>
}
}

</div>