@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Manage Account";
}
@model FilmBayMVC.ViewModels.ModelsKeeper

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<style>
.body{
    position:absolute;
    width:950px;
    left:50%;
    transform:translateX(-475px);
    background-color:blue;
}
.input-group{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}


</style>
<div class="body" id="div-body" onload="('.div-body').center()">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Input film title</span>
            <input name="FilmName" id="FilmName" type="text"  >
            <button class="buttonFilmSearch" onclick="getInputValue(FilmName.value)"> OK </button>
        </div>
    
</div>
<div style="height:1000px" class="partialViewDiv" id="partialViewDiv">
    @{Html.RenderPartial("_SearchResultPartial", Model);}
</div>

<div class="infoPopupPartialView" id="infoPopupPartialView" style="visibility:hidden">
    <label onload="informationPopup(this.Text)">null</label>
</div>

<script>
    @*$('.buttonFilmSearch').on('click', function () {
        var filmName = $('#FilmName').attr('value');
        //var filmName = "";
        //filmName = document.getElementById('FilmName').value;
        $('#partialViewDiv').load('@Url.Action("SearchFilmResult", "Admin")'+'?filmName='+filmName);
    });*@

    function getInputValue(value) {
        var filmName = value.replace(/\s/g,"+")
        alert(filmName);
        $('#partialViewDiv').load('@Url.Action("SearchFilmResult", "Admin")' + '?filmName=' + filmName);
    }


    function partialViewButtonClick(e) {
        // var id = $(e.target).id;
        alert("test");
    }

    function informationPopup(labelText) {
        alert(labelText);
    }

 
        function partialViewButtonClick(buttonId) {
            var buttonId = buttonId;
            var id = buttonId.substring(6, 7);
            var filmId = document.getElementById("id" + id).textContent;
            var title = document.getElementById("title" + id).textContent;
            var orginalTitle = document.getElementById("orginalTitle" + id).textContent;
            var popularity = document.getElementById("popularity" + id).textContent;
            var releaseDate = document.getElementById("releaseDate" + id).textContent;
            var posterPath = document.getElementById("posterPath" + id).src;
        
            alert(id + "," + title + "," + orginalTitle + "," + popularity + "," + releaseDate + "," + posterPath);

            $.ajax({
                url: '@Url.Action("AddFilmToDatabase", "Admin")' + '?id=' + filmId+'&title='+title+'&orginalTitle='+orginalTitle+'&popularity='+popularity+'&releaseDate='+releaseDate+'&posterPath='+posterPath,
                data: {}, //parameters go here in object literal form
                type: 'GET',
                //datatype: 'json',
                success: function (data) { alert('got here with data'); },
                error: function () { alert('something bad happened'); }
            });
        }
    </script>
